@media (max-width: 1024px) {
    .player {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .board {
        width: 100%;
        flex: 1;
    }
}

@media (min-width: 1200px) {
    .player {
        margin-top: 2px;
        // height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-shrink: 1;
        flex-grow: 2;
    }
    .board {
        flex: 1;
        width: 800px;
    }
    .info {
        margin-top: 5em;
        margin-left: 3em;
    }
}