<div class="player">
    <div class="group1">
        <div class="back">
            <a href="javascript:void(0)" (click)="goBack()">返回</a>
        </div>
        <div class="board">
            <go-board [stones]="stones$|async" [currentSequence]="currentSequence$|async">
            </go-board>
        </div>
        <div class="control">
            <go-control [disabled]="disabled$|async" [isFirst]="isFirst$|async" [isLast]="isLast$|async" (start)="onStart()" (prev)="onPrev()" (next)="onNext()">
            </go-control>
        </div>
    </div>
    <div class="info">
        <info [kifu]="kifu$|async" [comment]="comment$|async"></info>
    </div>

</div>