<p-slideMenu #menu viewportHeight="500" [model]="menuItems" [popup]="true"></p-slideMenu>
<button #btn type="button" pButton icon="fa fa-list" label="选择题库" (click)="menu.toggle($event)"></button>
<!--<p-megaMenu [model]="menuItems"></p-megaMenu>-->
<!--<label *ngFor="let problem of problems$ | async"> {{problem.name}}</label>-->

<!--<p-dataGrid [value]="problems$ | async">
    <template let-problem let-i="index" pTemplate="item">
        <a class="problem gradient">{{i}}</a>
    </template>
</p-dataGrid>-->
<div class="ui-g">
    <div class="ui-g-3" *ngFor="let problem of problems$ | async; let i = index">
        <a class="problem gradient" (click)="selectProblem(problem)">{{i+1}}</a>
    </div>
</div>