<div class="container">
    <div class="item">
        <button type="button" [disabled]="isNotInKifu$|async" pButton icon="fa fa-refresh" label="开始" (click)="start()"></button>
    </div>
    <div class="item">
        <button type="button" [disabled]="isFirst$|async" pButton icon="fa fa-backward" label="上一步" (click)="previousStep()"></button>
    </div>

    <div class="item">
        <button type="button" [disabled]="isLast$|async" pButton icon="fa fa-forward" label="下一步" (click)="nextStep()"></button>
    </div>
</div>